<h2>Neue Technologie erfassen</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <input formControlName="name" placeholder="Name" />
  <select formControlName="category">
    <option value="">Kategorie</option>
    <option>Techniques</option>
    <option>Platforms</option>
    <option>Tools</option>
    <option>LanguagesFrameworks</option>
  </select>
  <select formControlName="ring">
    <option value="">Ring</option>
    <option>Assess</option>
    <option>Trial</option>
    <option>Adopt</option>
    <option>Hold</option>
  </select>
  <textarea formControlName="techDescription" placeholder="Beschreibung Technologie"></textarea>
  <textarea formControlName="ringDescription" placeholder="Beschreibung der Einordnung"></textarea>

  <button type="submit" [disabled]="form.invalid">Save</button>
</form>
<div *ngIf="error">{{ error }}</div>
